<% if user_signed_in? %>
  <h1>Freinds list</h1>
  <div id="freinds">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Handle</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">User Id</th>
        <th></th>
      </tr>
    </thead>
  <tbody>
    <% @freinds.each do |freind| %>
      <% if freind.user == current_user %>
        <tr>
            <%= render freind %>
            <td><%= link_to "Destroy", freind, method: :delete, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>
  </div>
  <%= link_to "New freind", new_freind_path, class:"btn btn-secondary" %>
<% else %>
  <h1>Hello World</h1>
  <p>this is my first page</p>
<% end %>

